body{
    margin: 0;
    background-image: linear-gradient(to right top,#283e7e, #0061a1, #0081a9, #009e95, #00b770, #454cd3,rgb(16, 95, 173));
}
header{
    font-size:40px;
    text-align: center;
    margin-top: 30px;
    background-clip: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right,#f32170,#ff6b08, #cf23cf, #eedd44);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    font-weight: bolder;
}
.main-container{
    display: flex;
    justify-content: center;
    opacity: inherit;
}
.box{
    border-radius: 20px;
    background-color: #fff;
    width:35%;
    margin:50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    text-align: left;
    margin-bottom: 25px;
}
label{
    display: block;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size:20px;
    font-weight: 600;
    background-clip: none;
    background: linear-gradient(to right top, #283e7e, #0061a1, #0081a9, #009e95, #00b770, #74b53b, 
    #b4ac00,#f19800, #ff6548, #ff3589, #dd42cb, #5f67fb,#B33030);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    font-family: 'Merriweather', sans-serif;
    font-weight: bolder;
}
input,select,textarea{
    border-width: 0px; 
    border-bottom-width:4px;
    border-bottom-color:#D3DEDC ;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    margin: none;
    width:95%;
    font-size: 20px;
    font-weight: 600;
    color:black;
}
input:hover,select:hover,textarea:hover{
    transition: 0.5s;
    border-bottom-color:#570530 ;    
}
input:focus,textarea:focus,select:focus{
    background-color: none;
    box-shadow: 0 0 20px dodgerblue;
    outline: none;
}
input:not(:focus),textarea:not(:focus),select:not(:focus){
    box-shadow: none;  
}
.submit_btn{
    width:95%;
    background-color: #05c46b;
    border-radius: 2px;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s all;
    border-radius: 20px;
    border:none;
}
.submit_btn:hover{
    color:antiquewhite;
    background: linear-gradient(to right bottom, #283e7e, #0061a1, #0081a9, #009e95, #00b770, #5f67fb);
}
.submit_btn:active{
    transform: scale((0.98));
    box-shadow:3px 2px 22px 1px rgba(44, 255, 156, 0.89);
}